html {
  background: url("https://i.pinimg.com/564x/7c/16/be/7c16be6e544cf4ff39c48c2f28124884.jpg")
    center fixed;
  background-size: contain;
}

.text {
  text-align: center;
  color: firebrick;
  font-weight: bolder;
}

#note {
  font-size: xx-large;
}

#list {
  font-size: xx-large;
  text-align: left;
  justify-content: left;
}

#breed-list {
  float: left;
  text-align: left;
  justify-content: left;
  width: 500px;
  height: 1400px;
  position: absolute;
  top: 10;
  left: 0;
}

#comments {
  background: black;
  float: right;
  text-align: left;
  justify-content: right;
  width: 500px;
  height: 1400px;
  position: absolute;
  top: 0;
  right: 0;
}

#comment {
  color: firebrick;
}

#clabel {
  font-size: x-large;

  color: firebrick;
}

#input {
  font-size: x-large;
  width: 490px;
  height: 50px;
}
#submit {
  font-size: larger;
  float: right;
  width: 156px;
  height: 40px;
}
#image {
  margin: auto;
  height: 400px;
  width: 50%;
}

li {
  font-size: xx-large;
}
 #p {
  width: 490px ;
  height: 50px;
 }