html {
  background: url("https://i.pinimg.com/564x/7c/16/be/7c16be6e544cf4ff39c48c2f28124884.jpg")
    center fixed;
  background-size: contain;
}

.text {
  text-align: center;
  color: firebrick;
  font-weight: bolder;
}

#note {
  font-size: xx-large;
}

#list {
  font-size: xx-large;
  text-align: left;
  justify-content: left;
}

#breed-list {
  float: left;
  text-align: left;
  justify-content: left;
  width: 500px;
  height: 1400px;
  position: absolute;
  top: 10;
  left: 0;
}

