html {
    background: url("https://i.pinimg.com/564x/7c/16/be/7c16be6e544cf4ff39c48c2f28124884.jpg")
      center fixed;
    background-size: contain;
    
  }
  .text {
      text-align: center;
      color: aqua;
  }
  
  